* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

.container {
    margin: auto;
    max-width: 1100px;
    padding: 0 20px;
    overflow: auto;
} 

.borders {
    border-color: black;
    border-radius: 15px;
    border: 2px;
    border-style: solid;
} 

#showcase {
    background: url(../img/pexels-photo-416676.jpeg) no-repeat center center/cover;
    height: 1080px;
    width: 100%;
} 

#showcase .title-card {
    height: 200px;
    width: 100%;
    background-color: rgb(83, 198, 226);
    margin-top: 25px;
    border-radius: 100%;
    border: 5px;
    border-color: black;
    border-style: solid;
    align-items: center;
    display: grid;
} 

#showcase .title-card p {
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 75px;
} 

#showcase .strike {
    float: left;
    bottom: 0;
    right: 0;
    width: 300px;
    margin-left: 15%;
    margin-top: 5%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
} 

#showcase .storeb {
    height: 100px;
    width: 300px;
    background-color: rgb(217, 217, 217);
    margin-top: 405px;
    border-color: black;
    border-radius: 15px;
    border: 2px;
    border-style: solid;
    align-items:flex-end;
    float: right;
    margin-right: 10%;
    
} 

#showcase .storec {
    height: 80px;
    width: 270px;
    background-color: rgb(207, 195, 183);
    border-color: black;
    border-radius: 15px;
    border: 2px;
    border-style: solid;
    display: grid;
    margin: auto;

    margin-top: 8px;
} 

#showcase .store-strike {
    display: grid;
    margin: auto;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
} 

#showcase .store-follow {
    float: left;
    bottom: 0;
    right: 0;
    width: 180px;
    margin-left: -27%;
    margin-top: 25%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
} 

#secondary-showcase  {
    background-color: #D1B398;
    width: 100%;
    height: 1200px;
} 

#secondary-showcase .store-photo {
    float: left;
    width: 25%;
    height: 100%;
    margin: 80px 20px 60px 20px;
} 

#secondary-showcase .store-thumb1 {
    width: 250px;
    height: 250px;
    background: url(../img/surf1.jpeg) no-repeat center center/cover;
    object-fit: cover;
    margin-bottom: 20px;
} 

#secondary-showcase .store-thumb2 {
    width: 250px;
    height: 400px;
    background: url(../img/surf2.jpeg) no-repeat center center/cover;
    object-fit: cover;
    margin-bottom: 20px;
} 

#secondary-showcase .store-thumb3 {
    width: 250px;
    height: 300px;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfwOuXXyH6dH2lRBCOqFZ-tpcNfJq6cBtkSJq7UVqtQz5UF6lu") no-repeat center center/cover;
    object-fit: cover;
    margin-bottom: 20px;
} 

#secondary-showcase .store-text {
    float: right;
    width: 70%;
    height: 100%;
    margin: 80px 20px 60px 20px;
} 