body {
  margin: 0;
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

.Text-primary {
  color: black;
}

.Text-secondary {
  color: #333;
}

a {
  text-decoration: none;
  border: none;
  color: black;
}  

.Container {
  margin: auto;
  max-width: 1500px;
  padding: 0 20px;
  overflow: auto;
} 

.Page-Height {
  height: 1080px;
}

.Borders-primary {
  border-color: black;
  border-radius: 15px;
  border: 5px;
  border-style: solid;
}

.Borders-secondary {
  border-color: black;
  border-radius: 15px;
  border: 2px;
  border-style: solid;
} 

.Left {
  float: left;
} 

.Right {
  float: right;
} 

.Center {
  display: grid;
  margin: auto;	
}

.Showcase {
  height: 1080px;
  width: 100%;
} 

.Showcase-bg-primary {
  background: url(../img/pexels-photo-416676.jpeg) no-repeat center/cover;
  height: 120%;
  width: 100%;
}

.Showcase-bg-secondary {
  background-color: #D1B398;
  width: 100%;
}

.Showcase-mg {
  background-color: #D1B398;
  height: 100%;
  max-width: 1600px;
  margin: auto;
}

.Showcase-blur {
  backdrop-filter: blur(5px);
}

.Img {
  width: 250px;
  height: 250px;
  object-fit: cover center;
}

.Text-body {
  background-color: rgb(217, 217, 217);
  padding: 20px;
}