body {
  margin: 0;
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

a {
  text-decoration: none;
  border: none;
  color: black;
}  

.container {
  margin: auto;
  max-width: 1100px;
  padding: 0 20px;
  overflow: auto;
} 

.borders {
  border-color: black;
  border-radius: 15px;
  border: 2px;
  border-style: solid;
} 

.left {
  float: left;
} 

.right {
  float: right;
} 
